build
dist
dist-newstyle
*.swp
*.swo
*.pyc
*__pycache__*
*.egg-info
xcffib
build/
*egg*
*deb
debian/*.log
debian/files
debian/tmp
debian/python-xcffib*
debian/python3-xcffib*
.pybuild
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local*
.ghc.environment*
