name: ci

on:
    push:
      branches:
        - master
    pull_request:
    schedule:
        - cron: '0 0 * * 0' # weekly

jobs:
    build:
        runs-on: ubuntu-24.04
        name: "python ${{ matrix.python-version }} xcbver ${{ matrix.xcbver }}"
        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.10", "3.11", "3.12", "3.13", "pypy3.10"]
                xcbver: [xcb-proto-1.16.0, xcb-proto-1.17.0, master]
        steps:
            - uses: actions/checkout@v4
            - name: Set up python "${{ matrix.python-version }}"
              uses: actions/setup-python@v5
              with:
                  python-version: "${{ matrix.python-version }}"
            - uses: astral-sh/ruff-action@v3
              with:
                  args: "check --exclude ./test/generator/"
            - uses: haskell-actions/setup@v2
              with:
                  ghc-version: '9.6'
                  cabal-version: latest
            - run: sudo apt install x11-apps
            - run: git clone https://gitlab.freedesktop.org/xorg/proto/xcbproto.git proto && cd proto && git checkout ${{ matrix.xcbver }}
            - run: make XCBDIR=./proto/src check
